@model TrackplanDiagonalWordTest.Models.WordModel
@{
    ViewBag.Title = "WordTable";
}
<br />
<table style="display:flex;justify-content:center">
    @{ var index = 0; }
    @foreach (char c in Model.Word)
    {
        <tr>
            @for (int i = 0; i < index; i++)
            {
                <td></td>
            }

            <td>@c</td>
        </tr>
        index++;
    }
</table>

<br />
@using (Html.BeginForm("WordInput", "WordInput", FormMethod.Get))
{
    <input value="Back" type="submit" style="display:flex" />
}