@{
    ViewBag.Title = "Index";
}
<br />
<input id="wordInput"/>
<button onclick="SendWord()">Go</button>

<script>
    function SendWord() {
        if (document.getElementById("wordInput").value != "") {
            location.href = `WordTable/${document.getElementById("wordInput").value}`;
        }
    }
</script>