<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrackplanDiagonalWordTest</title>
    @Styles.Render("~/Content/css")
</head>
<body style="padding:0px; text-align:center">
    <h1>Trackplan Diagonal Word Test</h1>
    <div class="container body-content">
        @RenderBody()
    </div>

</body>
</html>
